@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Options from appsettings.json</p>
    <p>Option1 @Html.DisplayFor(model => model.AppOptions.Option1)</p>
    <p>Option2 @Html.DisplayFor(model => model.AppOptions.Option2)</p>
</div>
